.main {
    margin-top: 10px;
    width: 980px;
    height: 455px;
    margin-left: 220px;
}

.focus {
    width: 721px;
    height: 455px;
    float: left;
    background-color: purple;
}

.newsflash {
    width: 250px;
    height: 455px;
    float: right;
    background-color: blue;
}