.main {
    margin-top: 10px;
    width: 980px;
    height: 455px;
    margin-left: 220px;
}

.focus {
    width: 721px;
    height: 455px;
    float: left;
}

.newsflash {
    width: 250px;
    height: 455px;
    float: right;
}

.news {
    width: 250px;
    height: 165px;
}

.lifeservice {
    width: 250px;
    height: 209px;
}

.bargin {
    margin-top: 5px;
}