/* main model */

.main {
    margin-top: 10px;
    width: 980px;
    height: 455px;
    margin-left: 220px;
}

.focus {
    width: 721px;
    height: 455px;
    float: left;
}

.newsflash {
    width: 250px;
    height: 455px;
    float: right;
}

.news {
    width: 250px;
    height: 165px;
    border: 1px solid #e4e4e4;
}

.lifeservice {
    overflow: hidden;
    width: 250px;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}

.bargin {
    margin-top: 5px;
}

.news_hd {
    line-height: 33px;
    height: 33px;
    padding: 0 15px;
    border-bottom: 1px dotted #e4e4e4;
}

.news_hd h5 {
    font-size: 14px;
    float: left;
}

.more::after {
    content: '\e920';
    font-family: 'icomoon';
}

.news_hd a {
    float: right;
}

.news_bd {
    padding: 5px 15px 0;
}

.news_bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* recommendation model */

.recom {
    margin-top: 12px;
    height: 163px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    padding-top: 30px;
    text-align: center;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li:nth-child(-n+3):after {
    position: absolute;
    content: '';
    width: 1px;
    right: 0;
    height: 145px;
    top: 10px;
    background-color: #ddd;
}


/* floor model */

.family {
    margin-top: 30px;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    margin: 0 15px;
}